{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Breadcrumb-->
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item active">{{ legend|upper }}</li>
		</ul>
	</div>
</div>
<section class="dashboard-counts p-4" style="background-color: white;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<center>
					<h3>{{ legend|upper }}</h3>
					<h2>{{ subtitle|upper }}</h2>
					<a class="btn btn-sm btn-secondary" href="{% url 'r-div-pay-dash' div.id %}">Sumariu Kontratu & Pagamentu <i class="fa fa-list"></i></a>
				</center>
			</div><!--end col-->
		</div><!--end row-->
	</div><!--end cont-->
</section><!--end section-->
<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="{% url 'r-div-exec-list' div.id %}">Jeral</a></li>
	{% for year in years %}
	<li class="breadcrumb-item"><a href="{% url 'r-div-exec-year-list' div.id year.date__year %}">{{ year.date__year }}</a></li>
	{% endfor %}
</ul>
<section class="dashboard-counts section-padding" style="background-color: white;">
	<div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-sm">
                    <tr>
                    {% for obj in objects %}<th>{{ obj.1 }}</th>{% endfor %}
                    </tr>
                    <tr>
                        {% for obj2 in objects %}
                        <td>{% if obj2.2 %}<a href="{% url 'r-div-exec-pay-all-list' div.id obj2.0 %}">${{ obj2.2|intcomma }}</a>{% else %}0.0{% endif %}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end cont-->
</section><!--end section-->
<section class="dashboard-counts section-padding">
	<div class="container-fluid">
        <div class="row">
			<div class="col-sm-12">
				<div id="container" style="width: 100%; height: 300px;">
                    <canvas id="paymonthly_data"></canvas>
                </div>
			</div><!--end col-->
		</div><!--end row-->
	</div><!--end cont-->
</section><!-- end section -->
{% endblock %}
{% block scripts %}
<script src="{% static 'main/assets/js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
	{% include 'chart_js/option_bar_cur.js' %}
	{% include 'chart_pay/pay_monthly.js' %}
</script>	

{% endblock %}