{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      {% if group == "uvip" %}
      <li class="breadcrumb-item"><a href="{% url 'uvip-inv-det' inv.hashed %}">Fila</a></li>
      {% elif group == "gab" %}
      <li class="breadcrumb-item"><a href="{% url 'gab-inv-det' inv.hashed %}">Fila</a></li>
      {% elif group == "dgaf" %}
      <li class="breadcrumb-item"><a href="{% url 'dgaf-inv-det' inv.hashed %}">Fila</a></li>
      {% elif group == "dna" %}
      <li class="breadcrumb-item"><a href="{% url 'dna-inv-det' inv.hashed %}">Fila</a></li>
      {% elif group == "dnof" %}
      <li class="breadcrumb-item"><a href="{% url 'dnof-inv-det' inv.hashed %}">Fila</a></li>
      {% endif %}
      <li class="breadcrumb-item active">{{ legend }}</li>
    </ul>
  </div>
</div>
<div class="container-fluid"><br/>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Detaillu Kontratu</div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <tr><th>Numeru Kontratu</th><td>{{ inv.cont.number }}</td></tr>
            <tr><th>Periodu Kontratu</th><td>{{ inv.cont.start_date|date:"d/m/Y"  }} - {{ inv.cont.end_date|date:"d/m/Y"  }}</td></tr>
            <tr><th>Montante Kontratu</th><td>${{ inv.cont.total|intcomma }}</td></tr>
            <tr><th>Kompa&ntilde;ia</th><td>{{ contcomp }}</td></tr>
          </table>
        </div>
      </div><!--end card-->
    </div><!--end col-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Detaillu Projetu</div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <tr><th>Kodigu Projetu</th><td>{{ inv.cont.project.code }}</td></tr>
            <tr><th>Naran Projetu</th><td>{{ inv.cont.project.name }}</td></tr>
            <tr><th>Donu Projetu</th><td>{{ inv.cont.project.owner }} ({{ inv.cont.project.owner.code }})</td></tr>
            <tr><th>Tinan Projetu</th><td>{{ inv.cont.project.year }}</td></tr>
          </table>
        </div>
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Detallu Resibu </div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <tr>
              <th>Numeru Resibu</th><th>Data Hatama</th><th>Progresu Fiziku</th><th>Total Montante Resibu</th>
            </tr>
            <tr>
              <td>{{ inv.number }}</td>
              <td>{{ inv.date|date:"d/m/Y" }}</td>
              <td>{{ inv.phys_prog }}%</td>
              <td>${{ inv.total|intcomma }}</td>
            </tr>
          </table>
        </div>
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Rekomendasaun husi ADN >> <a class="btn btn-sm btn-info mb-1" href="{% url 'uvip-inv-det' recom.hashed %}" title="Altera">Fila</a> </div>
        <div class="card-body">
          {% if group == "uvip" %}
          {% if recom.is_lock == False %}
          <a class="btn btn-sm btn-info mb-1" href="{% url 'uvip-recom-edit' recom.hashed %}" title="Altera"><i class="fa fa-edit"></i></a>
          <a class="btn btn-sm btn-danger mb-1" href="{% url 'uvip-recom-rem' recom.id %}" title="Hapaga"><i class="fa fa-trash"></i></a>
          <a class="btn btn-sm btn-warning mb-1" href="{% url 'uvip-recom-lock' recom.id %}" title="Xavi"><i class="fa fa-lock"></i></a>
          {% endif %}
          {% endif %}
          <table class="table table-sm table-striped">
            <tr>
                <th>Numeru Referensia</th><th>Data</th><th>Progresu Fiziku</th><th>Montante Rekomnda</th><th>#</th>
            </tr>
            <tr>
              <td>{{ recom.number }}</td>
              <td>{{ recom.date|date:"d/m/Y" }}</td>
              <td>{{ recom.phys_prog }}%</td>
              <td>${{ recom.amount|intcomma }}</td>
              <td>
                {% if recom.file %}
                <a class="btn btn-sm btn-secondary" href="{% url 'recom-pdf' recom.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                {% endif %}
              </td>
            </tr>
            <tr><th colspan="5">Deskrisaun</th></tr>
            <tr><td colspan="5">{{ recom.desc|safe }}</td></tr>
          </table>
        </div>
    </div><!--end card-->
  </div><!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}