{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'r-div-proj-dash' div.id %}">Painel Relatoriu</a></li>
            <li class="breadcrumb-item"><a href="{% url 'r-div-proj-mun-sum' div.id %}">Sumariu Municipiu</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <center>
                        <h3>{{ legend|upper }}</h3>
                        <h2>{{ subtitle|upper }}</h2>
                    </center>
                    <hr/>
                    <table id="example" class="table table-sm responsive" style="width:100%">
                        <thead>
                            <tr align="center">
                                <th rowspan="2">#</th>
                                <th colspan="6">Projetu</th>
                                <th colspan="2">Kontratu</th>
                                <th colspan="5">Pagamentu</th>
                            </tr>
                            <tr align="center">
                                <th>Code</th>
                                <th>Naran Projetu</th>
                                <th>Capital</th>
                                <th>Kategoria</th>
                                <th>Setor</th>
                                <th>Status</th>
                                <th>Data Hahu</th>
								<th>Tot. Kontratu</th>
								<th>Prog. Fiz</th>
								<th>Kom. ($)</th>
								<th>Kom. (%)</th>
								<th>Bal. ($)</th>
								<th>Bal. (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in objects %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ obj.0.code }}</td>
                                <td><a href="{% url 'proj-det' obj.0.hashed %}">{{ obj.0.name }}</a></td>
                                <td>{{ obj.0.capital.code }}</td>
                                <td>{{ obj.0.pcategory.code }}</td>
                                <td>{{ obj.0.sector }}</td>
                                <td>{{ obj.0.status }}</td>
                                <td>{{ obj.1.start_date|date:"d/m/y" }}</td>
                                <td>${{ obj.2.total|intcomma }}</td>
								<td>{{ obj.3.phys_prog }}%</td>
								<td>${{ obj.3.com_amount|intcomma }}</td>
								<td>{{ obj.3.com_percent }}%</td>
								<td>${{ obj.3.bal_amount|intcomma }}</td>
								<td>{{ obj.3.bal_percent }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr/>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'r-div-proj-mun-list' div.id mun.id %}">{{ psec.code }} Jeral</a></li>
                        {% for year in years %}
                        <li class="breadcrumb-item"><a href="{% url 'r-div-proj-mun-year' div.id mun.id year.year__year %}">{{ year.year__year }}</a></li>
                        {% endfor %}
                    </ol>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}