{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dnof-inv-list' %}">Fila</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Kontratu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Numeru Kontratu</th><td>{{ inv.cont.number }}</td></tr>
                        <tr><th>Montante Kontratu</th><td>{{ inv.cont.total }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Projetu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Kodigu Projetu</th><td>{{ inv.cont.project.code }}</td></tr>
                        <tr><th>Naran Projetu</th><td>{{ inv.cont.project.name }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">Detallu Resibu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru Resibu</th><th>Data</th><th>Progresu Fiziku</th><th>Montante Resibu</th><th>Liu ADN</th><th>Liu SGP</th><th>Aneksu</th>
                        </tr>
                        <tr>
                            <td>{{ inv.number }}</td>
                            <td>{{ inv.date|date:"d/m/Y" }}</td>
                            <td>{{ inv.phys_prog }}%</td>
                            <td>${{ inv.total|intcomma }}</td>
                            <td>{% if inv.is_adn == True %}LOS <i class="fa fa-check-circle i_green"></i>{% else %}LAE <i class="fa fa-ban i_red"></i>{% endif %}</td>
                            <td>{% if inv.is_sgp == True %}LOS <i class="fa fa-check-circle i_green"></i>{% else %}LAE <i class="fa fa-ban i_red"></i>{% endif %}</td>
                            <td>
                                {% if inv.file %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'inv-pdf' inv.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <hr/>
                    {% if inv.is_appr == True %}
                    <div class="alert alert-success pb-1"><h4>RESIBU APROVADU</h4></div>
                    {% endif %}
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Prosesu Inspeksaun</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Nu.</th><th>Numeru Despaxu</th><th>Status Inspeksaun</th></tr>
                        {% if insp %}
                        {% for i in insp %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'uvip-insp-det' i.hashed %}">{{ i.number }}</a></td>
                            <td>
                            {% if insp.is_end == False %}
                                Lao hela <i class="fa fa-refresh"></i>
                            {% else %}
                            Termina <i class="fa fa-check"></i>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                         <tr>
                            <td>1</td>
                            <td>0000</td>
                            <td>
                              {% if track.is_uvip_in == True %}
                              {% if track.is_insp_start == False %}
                              <a class="btn btn-sm btn-info mb-1" href="{% url 'uvip-inv-insp-start' inv.hashed %}">Hahu <i class="fa fa-star"></i></a>
                              {% else %}
                             <a class="btn btn-sm btn-default mb-1" href="#">Hahu Ona <i class="fa fa-check"></i></a>
                              {% endif %}
                              {% endif %}
                            </td>
                             
                        </tr>
                        {% endif %}

                    </table>

                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Sertifikadu Pagamentu husi UIVP</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru Sertifikadu</th><th>Data</th><th>Progresu Fiziku</th><th>Montante Pagamentu</th>
                        </tr>
                        {% for certpay in certpays %}
                        <tr>
                            <td><a href="{% url 'uvip-cert-det' certpay.hashed %}">{{ certpay.number }}</a></td>
                            <td>{{ certpay.date|date:"d/m/Y" }}</td>
                            <td>{{ certpay.phys_prog }}%</td>
                            <td>${{ certpay.total|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Aneksu Rekomendasaun husi ADN</div>
                <div class="card-body">
                {% if inv.is_adn == True %}
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru Rekomendasaun</th><th>Data</th><th>Progresu Fiziku</th><th>Montante Rekomendasaun</th>
                        </tr>
                        {% for recom in recoms %}
                        <tr>
                            <td><a href="{% url 'uvip-recom-det' recom.hashed %}">{{ recom.number }}</a></td>
                            <td>{{ recom.date|date:"d/m/Y" }}</td>
                            <td>{{ recom.phys_prog }}%</td>
                            <td>${{ recom.amount|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h5>La-iha rekomendasaun pagamentu tamba la liu husi ADN</h5>
                {% endif %}
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu CPV</div>
                <div class="card-body">
                    {% if cpv %}
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru CPV</th><th>Data</th><th>Montante CPV</th>
                        </tr>
                        <tr>
                            <td>{{ cpv.number }}</td>
                            <td>{{ cpv.date|date:"d/m/Y" }}</td>
                            <td>${{ cpv.amount|intcomma }}</td>
                        </tr>
                    </table>
                    {% else %}
                    <div class="alert alert-danger p-2">CPV seidauk eziste</div>
                    <a class="btn btn-sm btn-info" href="{% url 'dnof-cpv-list' %}" target="_blank">Kria CPV</a>
                    {% endif %} 
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu PO</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru PO</th><th>Montante PO</th><th>Data</th>
                        </tr>
                        <tr>
                            <td>{{ po.number }}</td>
                            <td>${{ po.amount|intcomma }}</td>
                            <td>{{ po.date|date:"d/m/Y" }}</td>
                        </tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu PRT</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru PRT</th><th>Data</th><th>Montante PRT</th><th>Pursentu</th>
                        </tr>
                        <tr>
                            <td>{{ prt.number }}</td>
                            <td>{{ prt.date|date:"d/m/Y"  }}</td>
                            <td>{% if prt.total %}${{ prt.total|intcomma }}{% endif %}</td>
                            <td>{% if prt.percent %}{{ prt.percent }}%{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu EV</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru EV</th><th>Data</th><th>Aneksu</th>
                        </tr>
                        <tr>
                            <td>{{ ev.number }}</td><td>{{ ev.date|date:"d/m/Y" }}</td>
                            <td>
                                {% if ev %}
                                {% if track.is_dnof_in == True and track.is_dnof_out == False %}
                               {% if group == 'dnof' %}
                                {% if ev.is_ready == False %}
                                <a class="btn btn-sm btn-info mb-1" href="{% url 'dnof-ev-edit' inv.hashed ev.id %}">Altera <i class="fa fa-edit"></i></a>
                                
                                <a class="btn btn-sm btn-info mb-1" href="{% url 'dnof-ev-ready' inv.hashed ev.id %}">Pronto <i class="fa fa-check"></i></a>
                                {% endif %}

                                {% if ev.is_send == False %}
                                <a class="btn btn-sm btn-info mb-1" href="{% url 'dnof-ev-send' inv.hashed ev.id %}">MANDA BA DNOF BACK OFFICE<i class="fa fa-check"></i></a>
                                {% else %}
                                <a class="btn btn-sm btn-deafult mb-1">MANDA ONA BA DNOF BACK OFFICE <i class="fa fa-check"></i></a>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Karta Relevante Sira Hotu</div>
                <div class="card-body">
                    {% if track.is_dnof_in == True and track.is_dnof_out == False %}
                    <a class="btn btn-sm btn-info mb-1" href="{% url 'inv-let-add' inv.hashed %}">Aumenta <i class="fa fa-plus"></i></a>
                    {% endif %}
                    <a class="btn btn-sm btn-info mb-1" href="{% url 'fin-file-list' inv.hashed %}" target="_blank">Upload Anexu sira seluk <i class="fa fa-upload"></i></a>
                    <a class="btn btn-sm btn-secondary mb-1" href="{% url 'let-inv-lets' inv.hashed %}" target="_blank">Karta Relevante <i class="fa fa-list"></i></a>
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru Referensia</th><th>Asuntu</th><th>Data</th><th>Husi</th><th>Diriji ba</th><th>Aneksu</th>
                        </tr>
                        {% for let in lets %}
                        <tr>
                            <td>{{ let.number }}</td>
                            <td>{{ let.subject }}</td>
                            <td>{{ let.date|date:"d/m/Y" }}</td>
                            <td>{% if let.is_dna == True %}DNA{% elif let.is_dnof == True %}DNOF{% endif %}</td>
                            <td>{{ let.to.name }}</td>
                            <td>
                                {% if let.file %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'inv-let-pdf' let.hashed %}" title="Anexu" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                {% endif %}
                                {% if let.is_dnof == True %}
                                {% if let.is_send == False %}
                                <a class="btn btn-sm btn-info" href="{% url 'inv-let-edit' let.hashed %}"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-sm btn-danger" href="{% url 'inv-let-rem' let.id %}"><i class="fa fa-trash"></i></a>
                                <a class="btn btn-sm btn-primary" href="{% url 'dnof-inv-next' let.id %}" title="Manda">Manda ona ba {{ let.to.code }} <i class="fa fa-send"></i></a>
                                {% else %}
                                <div class="alert alert-info p-1">{{ let.status }}</div>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-12">
        {% if track.is_dnof_out == True %}
        {% if inv.is_end == False %}
        <a class="btn btn-primary" href="{% url 'dnof-inv-end' inv.id %}">TERMINA <i class="fa fa-check"></i></a>
        {% else %}
        <div class="alert alert-info p-1">PROSESU RESIBU TERMINA <i class="fa fa-check"></i></div>
        {% endif %}
        {% endif %}
        </div><!--end col-->
    </div><!--end row-->
    <hr/>
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}