{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'op-prt-cont-list' %}">Lista Kontratu</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<header class="py-4">
  <div class="container-fluid py-2">
    <h1 class="h3 fw-normal mb-0">{{ module_name }}</h1>
  </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Kontratu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                          <th>Numeru</th><th>Montante</th><th>Periodu</th><th>Projetu</th>
                        </tr>
                        <tr>
                          <td>{{ cont.number }}</td>
                          <td>${{ cont.total|intcomma }}</td>
                          <td>{{ cont.start_date|date:"d/m/Y" }}-{{ cont.end_date|date:"d/m/Y" }}</td>
                          <td>{{ cont.project.name }}</td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">{{ legend|upper }}</div>
                <div class="card-body">
                    <a class="btn btn-sm btn-info mb-1" href="{% url 'op-prt-add' cont.hashed %}">Aumenta <i class="fa fa-plus"></i></a>
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>#</th>
                            <th>Numeru</th>
                            <th>Data</th>
                            <th>Montante</th>
                            <th>Purcentu</th>
                            <th>#</th>
                        </tr>
                        {% for obj in objects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.number }}</td>
                            <td>{{ obj.date|date:"d/m/Y" }}</td>
                            <td>${{ obj.total|intcomma }}</td>
                            <td>{{ obj.percent }}%</td>
                            <td>
                                <a class="btn btn-sm btn-info" href="{% url 'op-prt-edit' cont.hashed obj.hashed %}"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-sm btn-danger" href="{% url 'op-prt-rem' cont.hashed obj.id %}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="3"><center><h3>TOTAL</h3></center></th>
                            <th><h3>${{ tot|intcomma }}</h3></th>
                            <th colspan="2"></th>
                        </tr>
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}