{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dgaf-po-list' cont.hashed %}">Fila</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Kontratu</div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tr><th>Numeru Kontratu</th><td>{{ cont.number }}</td></tr>
                        <tr><th>Data</th><td>{{ cont.start_date|date:"d/m/Y" }} - {{ cont.end_date|date:"d/m/Y" }}</td></tr>
                        <tr><th>Montante Kontratu</th><td>${{ cont.total|intcomma }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header"> Detallu Projetu</div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tr><th width="25%">Kodigu Projetu</th><td>{{ proj.code }}</td></tr>
                        <tr><th>Naran Projetu</th><td>{{ proj.name }}</td></tr>
                        <tr><th>Tinan Projetu</th><td>{{ proj.year }}</td></tr>
                    </tr>
                </table>
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">Detallu PO</div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Numeru PO</th><th>Numeru CPV</th><th>Numeru Kontratu</th><th>Montante</th><th>Data</th>
                    </tr>
                    <tr>
                        <td>{{ po.number }}</td>
                        <td>{{ po.cpv.number }}</td>
                        <td>{{ po.cont.number }}</td>
                        <td>${{ po.amount|intcomma }}</td>
                        <td>{{ po.date|date:"d/m/Y" }}</td>
                    </tr>
                </table>
                <hr/>
                {% if po.is_send == True %}
                <div class="alert alert-info">
                    {% if po.is_read == False %}
                    <a class="btn btn-sm btn-secondary" href="{% url 'dgaf-po-back' po.hashed %}"><i class="fa fa-reply"></i> Manda Fila</a>
                    <a class="btn btn-sm btn-info" href="{% url 'dgaf-po-in' po.id %}">Simu <i class="fa fa-check"></i></a>
                    {% else %}
                    <i class="fa fa-info"></i>: Simu ona <i class="fa fa-check"></i> | 
                    {% if po.is_appr == False %}
                    <a class="btn btn-sm btn-primary" href="{% url 'dgaf-po-appr' po.id %}">Aprova <i class="fa fa-check"></i></a>
                    {% else %}
                        PO Aprova ona <i class="fa fa-check"></i> |
                        <a class="btn btn-sm btn-success" href="{% url 'dgaf-po-list' cont.hashed %}">Lista PO <i class="fa fa-list"></i></a>
                    {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
{% if po.is_appr == True %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Karta Despaxu ba DNA</div>
      <div class="card-body">         
        <table class="table table-sm table-striped">
          <tr>
            <th>Numeru Despaxu</th><th>Asuntu</th><th>Data</th><th>Aneksu</th>
          </tr>
          <tr>
            <td>{{ lett.number }}</td>
            <td>{{ lett.subject }}</td>
            <td>{{ lett.date|date:"d/m/Y" }}</td>
            <td>
              {% if lett.file %}
              <a class="btn btn-sm btn-secondary" href="{% url 'po-let-pdf' lett.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
              {% endif %}
              {% if lett.is_send == False %}
              <a class="btn btn-sm btn-info" href="{% url 'dgaf-po-let-edit' po.hashed lett.id %}" title="Altera"><i class="fa fa-edit"></i></a>
              <a class="btn btn-sm btn-danger" href="{% url 'dgaf-po-let-rem' lett.id %}" title="Hamos"><i class="fa fa-close"></i></a>
              {% if lett.subject %}
              <a class="btn btn-sm btn-primary" href="{% url 'dgaf-po-send' lett.id %}"> Manda ona ba DNA <i class="fa fa-send"></i></a>
              {% endif %}
              {% elif lett.is_send == True %}
              <div class="alert alert-info p-1"><i class="fa fa-send"></i> Manda ona ba DNA</div>
              {% endif %}<!-- end is_send -->
            </td>
          </tr>
        </table>
      </div>
    </div><!--end card-->      
  </div><!--end col-->
</div><!--end row-->
{% endif %}
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}