{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dna-po-list' cont.hashed %}">Fila</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Kontratu</div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tr><th>Numeru Kontratu</th><td>{{ cont.number }}</td></tr>
                        <tr><th>Data Kontratu</th><td>{{ cont.start_date|date:"d/m/Y" }} - {{ cont.end_date|date:"d/m/Y" }}</td></tr>
                        <tr><th>Montante Kontratu</th><td>${{ cont.total|intcomma }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Projetu</div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tr><th width="25%">Kodigu Projetu</th><td>{{ proj.code }}</td></tr>
                        <tr><th>Naran Projetu</th><td>{{ proj.name }}</td></tr>
                        <tr><th>Tinan Projetu</th><td>{{ proj.year }}</td></tr>
                    </tr>
                </table>
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">Detallu PO</div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Numeru PO</th><th>Numeru Resibu</th><th>Numeru CPV</th><th>Numeru Kontratu</th><th>Montante PO</th><th>Data</th>
                    </tr>
                    <tr>
                        <td>{{ po.number }}</td>
                        <td>{{ po.inv.number }} <a href="{% url 'dna-po-edit2' po.hashed %}"><i class="fa fa-edit"></i></a></td>
                        <td>{{ po.cpv.number }}</td>
                        <td>{{ po.cont.number }}</td>
                        <td>${{ po.amount|intcomma }}</td>
                        <td>{{ po.date|date:"d/m/Y" }}</td>
                    </tr>
                </table>
                <hr/>
                <div class="alert alert-info">
                    <i class="fa fa-info"></i>: {% if po.is_appr == True %} PO Aprova ona! <i class="fa fa-check"></i> | {% endif %}
                    {% if polet.is_read == False %}
                    <a class="btn btn-sm btn-info" href="{% url 'dna-po-in' polet.id %}">Simu <i class="fa fa-check"></i></a>
                    {% else %}
                    Simu Ona <i class="fa fa-check"></i> |
                    {% if track.is_dna_in == True and track.is_end == False %}
                    <a class="btn btn-sm btn-primary" href="{% url 'dna-po-end' po.id %}">Termina <i class="fa fa-check"></i></a>
                    {% else %}Termina ona{% endif %}
                    {% endif %}
                </div>
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Karta Despaxu ba DNA</div>
      <div class="card-body">         
        <table class="table table-sm table-striped">
          <tr>
            <th>Numeru Despaxu</th><th>Asuntu</th><th>Data</th><th>Aneksu</th>
          </tr>
          <tr>
            <td>{{ polet.number }}</td>
            <td>{{ polet.subject }}</td>
            <td>{{ polet.date|date:"d/m/Y" }}</td>
            <td>
              {% if polet.file %}
              <a class="btn btn-sm btn-secondary" href="{% url 'po-let-pdf' polet.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div><!--end card-->      
  </div><!--end col-->
</div><!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}