{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dna-po-cont-list' proj.hashed %}">Fila</a></li>
      <li class="breadcrumb-item active">{{ legend }}</li>
		</ul>
	</div>
</div>
<header class="py-4">
  <div class="container-fluid py-2">
    <h1 class="h3 fw-normal mb-0">Purchase Order (PO)</h1>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Detallu Kontratu</div>
        <div class="card-body">
          <table class="table table-sm">
            <tr><th>Numeru Kontratu</th><td><a href="{% url 'dna-cont-det' cont.hashed %}">{{ cont.number }}</a></td></tr>
            <tr><th>Montante Kontratu </th><td>${{ cont.total|intcomma }}</td></tr>
            <tr><th>Durasaun Kontratu</th><td>{{ cont.start_date }} - {{ cont.end_date }}</td></tr>
            <tr><th>Kompa&ntilde;ia</th><td>{% for comp in comps %}{{ comp.company.name }}, {% endfor %}</td></tr>
          </table>
        </div>
      </div>      
    </div><!--end col-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header"> Detallu Projetu</div>
        <div class="card-body">
          <table class="table table-sm">
            <tr><th>Kodigu Projetu</th><td><a href="{% url 'proj-det' proj.hashed %}">{{ proj.code }}</a></td></tr>
            <tr><th>Naran Projetu</th><td>{{ proj.name }}</td></tr>
            <tr><th>Kategoria Projetu</th><td>{{ proj.pcategory.code }}</td></tr>
            <tr><th>Tinan Projetu</th><td>{{ proj.year }}</td></tr>
          </table>
        </div>
      </div>      
    </div><!--end col-->
  </div><!--end row-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Detallu CPV</div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <tr>
              <th>Nu.</th><th>Numeru CPV</th><th>Montante CPV</th><th>Data</th>
            </tr>
            {% for cpv in cpvs %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'uvip-cpv-det' cpv.hashed %}" target="_blank">{{ cpv.number }}</a></td>
              <td>${{ cpv.amount|intcomma }}</td>
              <td>{{ cpv.date|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>      
    </div><!--end col-->
  </div><!--end row-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Detallu PO</div>
        <div class="card-body">
          {% if cpvs %}
          <a class="btn btn-sm btn-info mb-1" href="{% url 'dna-po-add' cont.hashed %}">Aumenta PO <i class="fa fa-plus"></i></a>
          {% else %}
          <div class="alert alert-warning p-2">Favor kria uluk CV antes kria PO!</div>
          {% endif %}
          <table class="table table-sm table-striped">
            <tr>
              <th>Nu.</th><th>Numeru PO</th><th>Numeru CPV</th>
              <th>Numeru Resibu</th><th>Montante PO</th>
              <th>Data</th><th>Aneksu</th>
            </tr>
            {% for obj in objects %}
            <tr>
              {% if obj.comment %}
              <td rowspan="5">{{ forloop.counter }}</td>
              {% else %}
              <td rowspan="3">{{ forloop.counter }}</td>
              {% endif %}
              <td><a href="{% url 'dna-po-det' obj.hashed %}">{{ obj.number }}</a></td>
              <td>{{ obj.cpv.number }}</td>
              <td>{{ obj.inv.number }} <a href="{% url 'dna-po-edit2' obj.hashed %}">Atualiza <i class="fa fa-edit"></i></a>
                 {% if not obj.inv.number %}
                <div class="alert alert-danger">
                 Presija atualiza numereu resibu antes manda ba DGAF.
                </div>
                {% endif %}
              </td>
              <td>${{ obj.amount|intcomma }}</td>
              <td>{{ obj.date|date:"d/m/Y" }}</td>              
              <td>
                {% if obj.file %}
                <a class="btn btn-sm btn-secondary" href="{% url 'po-pdf' obj.hashed %}" title="Aneksu" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                {% endif %}
              {% if obj.is_send == False %}
                <a class="btn btn-sm btn-info" href="{% url 'dna-po-edit' obj.hashed %}" title="Altera"><i class="fa fa-edit"></i></a>
                <a class="btn btn-sm btn-danger" href="{% url 'dna-po-rem' obj.id %}" title="Hamos"><i class="fa fa-trash"></i></a>
                {% if obj.inv.number %}
                <a class="btn btn-sm btn-primary" href="{% url 'dna-po-send' obj.id %}" title="Manda">Manda ba DGAF <i class="fa fa-send"></i></a>
                {% endif %}
              {% endif %}
                <div class="alert alert-success p-1">
                  {{ obj.status }}
                </div>
              </td>
            </tr>
            <tr><th colspan="6">Deskrisaun</th></tr>
            <tr><td colspan="6">{{ obj.desc|safe }}</td></tr>
            {% if obj.comment %}
            <tr><td colspan="6">Komentariu Fila</td></tr>
            <tr><td colspan="6">{{ obj.comment|safe }}</td></tr>
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
  <hr/>
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}