{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			{% if group == "dna" %}
			<li class="breadcrumb-item"><a href="{% url 'dna-po-list' cont.hashed %}">Fila</a></li>
			{% elif group == "dgaf" %}
			<li class="breadcrumb-item"><a href="{% url 'dgaf-po-det' cont.hashed %}">Fila</a></li>
			{% endif %}
			<li class="breadcrumb-item active">{{ legend }}</li>
		</ul>
	</div>
</div>
<div class="container-fluid"><br/>
  <div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">{{ legend|upper }}</div>
				<div class="card-body">
					<table class="table table-sm">
						<tr><th>Kodigu Projetu</th><th>Naran Projetu</th></tr>
						<tr><td>{{ proj.code }}</td><td>{{ proj.name }}</td></tr>
					</table>
					<hr/>
					{% crispy form %}
				</div> <!--end card-body-->
			</div> <!--end card-->
		</div> <!--end col-->
	</div> <!--end row-->  
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}