{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'hist-inv-list' %}">Historia</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Kontratu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Numeru Kontratu</th><td>{{ inv.cont.number }}</td></tr>
                        <tr><th>Montante Kontratu</th><td>{{ inv.cont.total }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Projetu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Kodigu projetu</th><td>{{ inv.proj.code }}</td></tr>
                        <tr><th>Naran Projetu</th><td>{{ inv.proj.name }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Detallu Resibu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru Resibu</th><th>Data</th><th>Progresu Fiziku</th><th>Montante Resibu</th>
                        </tr>
                        <tr>
                            <td>{{ inv.number }}</td>
                            <td>{{ inv.date }}</td>
                            <td>{{ inv.phys_prog }}%</td>
                            <td>${{ inv.total|intcomma }}</td>
                        </tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Sertifikadu Pagamentu husi UIVP</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru Referensia</th><th>Data</th><th>Progresu Fiziku</th><th>Montante Pagamentu</th>
                        </tr>
                        {% for certpay in certpays %}
                        <tr>
                            <td><a href="{% url 'uvip-cert-det' certpay.hashed %}">{{ certpay.number }}</a></td>
                            <td>{{ certpay.date|date:"d/m/Y" }}</td>
                            <td>{{ certpay.phys_prog }}%</td>
                            <td>${{ certpay.total|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Rekomendasaun husi ADN, I.P.</div>
                <div class="card-body">
                {% if inv.is_adn == True %}
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru Rekomendasaun</th><th>Data</th><th>Progresu Fiziku</th><th>Montante Rekomendasaun</th>
                        </tr>
                        {% for recom in recoms %}
                        <tr>
                            <td><a href="{% url 'uvip-recom-det' recom.hashed %}">{{ recom.number }}</a></td>
                            <td>{{ recom.date|date:"d/m/Y" }}</td>
                            <td>{{ recom.phys_prog }}%</td>
                            <td>${{ recom.amount|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h5>Laiha rekomendasaun pagamentu tamba la liu husi ADN</h5>
                {% endif %}
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu CPV</div>
                <div class="card-body">
                    {% if cpv %}
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru CPV</th><th>Divizaun</th><th>Montante CPV</th><th>Aneksu</th>
                        </tr>
                        <tr>
                            <td>{{ cpv.number }}</td>
                            <td>{{ cpv.div.code }}</td>
                            <td>${{ cpv.amount|intcomma }}</td>
                            <td>
                                {% if cpv.file %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'cpv-pdf' cpv.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    {% else %}
                    <div class="alert alert-danger p-2">CPV seidauk eziste</div>
                    <a class="btn btn-sm btn-info" href="{% url 'cpv-list' %}">Lista CPV</a>
                    {% endif %} 
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu PO</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru PO</th><th>Montante PO</th><th>Data</th><th>Aneksu</th>
                        </tr>
                        <tr>
                            <td>{{ po.number }}</td>
                            <td>${{ po.amount|intcomma }}</td>
                            <td>{{ po.date|date:"d/m/Y" }}</td>
                            <td>
                                {% if po.file %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'po-pdf' po.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu PRT</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru PRT</th><th>Data</th>
                            <th>Montante PRT</th><th>Persentu</th><th>Aneksu</th>   
                        </tr>
                        <tr>
                            <td>{{ prt.number }}</td>
                            <td>{{ prt.date }}</td><td>${{ prt.total|intcomma }}</td>
                            <td>{{ prt.percent }}%</td>
                            <td>
                                {% if prt.file %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'prt-pdf' prt.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu EV</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru EV</th><th>Data</th><th>Aneksu</th>
                        </tr>
                        <tr>
                            <td>{{ ev.number }}</td><td>{{ ev.date|date:"d/m/Y" }}</td>
                            <td>
                                {% if ev.file %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'ev-pdf' ev.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Karta Akompa&ntilde;amentu</div>
                <div class="card-body">
                    <a class="btn btn-sm btn-info mb-1" href="{% url 'fin-file-list' inv.hashed %}">Upload Aneksu sira seluk <i class="fa fa-upload"></i></a>
                    <a class="btn btn-sm btn-secondary mb-1" href="{% url 'let-inv-lets' inv.hashed %}">Karta Relevante <i class="fa fa-list"></i></a>
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru Referensia</th><th>Asuntu</th><th>Data</th><th>Husi</th><th>Dirije ba</th><th>Aneksu</th>
                        </tr>
                        {% for obj in objects %}
                        <tr>
                            <td>{{ obj.number }}</td>
                            <td>{{ obj.subject }}</td>
                            <td>{{ obj.date|date:"d/m/Y" }}</td>
                            <td>{% if obj.is_sup == True %}SUP
                                {% elif obj.is_uvip == True %}UVIP
                                {% elif obj.is_gab == True %}GABINETE MINISTRU
                                {% elif obj.is_dgaf == True %}DGAF
                                {% elif obj.is_dna == True %}DNA
                                {% elif obj.is_dnof == True %}DNOF{% endif %}
                            </td>
                            <td>{{ obj.to.code }}</td>
                            <td>
                                {% if obj.file %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'inv2-let-pdf' obj.hashed %}" title="Anexu" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}