{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>  
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">{{ legend|upper }}</div>
                <div class="card-body">
                    <a class="btn btn-sm btn-info mb-1" href="{% url 'dna-inv-list' %}">Resibu Ativu <i class="fa fa-list"></i></a>
                    <table id="example" class="table table-sm responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nu.</th><th>Numeru Resibu</th><th>Data</th><th>Kontratu</th><th>Naran Projetu</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in objects %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'hist-inv-det' obj.hashed %}">{{ obj.number }}</a></td>
                                <td>{{ obj.date|date:"d/m/Y" }}</td>
                                <td>{{ obj.contract.number }}</td>
                                <td>{{ obj.project.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr/>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'hist-inv-list' %}">Jeral</a></li>
                    {% for y in years %}
                        <li class="breadcrumb-item"><a href="{% url 'hist-inv-year' y.date__year %}">{{ y.date__year }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <hr/>
</div><!--end cont-->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}