{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
		{% if page == "det" %}
			<li class="breadcrumb-item"><a href="{% url 'dna-proc-det' proc.hashed %}">Fila</a></li>
		{% else %}
			<li class="breadcrumb-item"><a href="{% url 'dna-proc-list' %}">Fila</a></li>
		{% endif %}
			<li class="breadcrumb-item active">{{ legend }}</li>
		</ul>
	</div>
</div>
<div class="container-fluid"><br/>
  <div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">{{ legend|upper }}</div>
				<div class="card-body">
					{% crispy form %}
				</div> <!--end card-body-->
			</div> <!--end card-->
		</div> <!--end col-->
	</div> <!--end row-->  
</div><!--end cont-->
{% endblock %}
{% block scripts %}
<style>
	#id_proj { width: 100%; }
</style>
<script>
	$(document).ready(function() {
    $('#id_proj').select2();
});
</script>
{% endblock %}