<section class="dashboard-counts section-padding">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<!-- Count item widget-->
					<div class="col-xl-4 col-md-4 col-6">
						<div class="wrapper count-title d-flex">
							<div class="name">
								<p class="text-gray-500 small mb-1">Projetu</p>
								<strong class="text-uppercase">Total</strong>
								<div class="count-number"><a href="{% url 'r-div-proj-list' div.id %}">{{ t_proj }}</a></div>
							</div>
						</div>
					</div><!--end item-->
					<!-- Count item widget-->
					<div class="col-xl-4 col-md-4 col-6">
						<div class="wrapper count-title d-flex">
							<div class="name">
								<p class="text-gray-500 small mb-1">Projetu</p>
								<strong class="text-uppercase">Foun</strong>
								<div class="count-number"><a href="{% url 'r-div-proj-statusp-list' div.id pk1 %}">{{ t_new }}</a></div>
							</div>
						</div>
					</div><!--end item-->
					<!-- Count item widget-->
					<div class="col-xl-4 col-md-4 col-6">
						<div class="wrapper count-title d-flex">
							<div class="name">
								<p class="text-gray-500 small mb-1">Projetu</p>
								<strong class="text-uppercase">Reapropriasaun</strong>
								<div class="count-number"><a href="{% url 'r-div-proj-statusp-list' div.id pk2 %}">{{ t_rollover }}</a></div>
							</div>
						</div>
					</div><!--end item-->
				</div><!--end row-->
			</div><!--end col-->
			<div class="col-sm-6" style="background-color: antiquewhite;">
				<div class="row">
					<!-- Count item widget-->
					<div class="col-xl-4 col-md-4 col-6">
						<div class="wrapper count-title d-flex">
							<div class="name">
								<p class="text-gray-500 small mb-1">Projetu</p>
								<strong class="text-uppercase">Kompletu</strong>
								<div class="count-number"><a href="{% url 'r-div-proj-status-list' div.id pk4 %}">{{ t_comp }}</a></div>
							</div>
						</div>
					</div><!--end item-->

					<!-- Count item widget-->
					<div class="col-xl-4 col-md-4 col-6">
						<div class="wrapper count-title d-flex">
							<div class="name">
								<p class="text-gray-500 small mb-1">Projetu</p>
								<strong class="text-uppercase">Lao Hela</strong>
								<div class="count-number"><a href="{% url 'r-div-proj-status-list' div.id pk2 %}">{{ t_ongoing }}</a></div>
							</div>
						</div>
					</div><!--end item-->

					<!-- Count item widget-->
					<div class="col-xl-4 col-md-4 col-6">
						<div class="wrapper count-title d-flex">
							<div class="name">
								<p class="text-gray-500 small mb-1">Projetu</p>
								<strong class="text-uppercase">Seidauk Hahu</strong>
								<div class="count-number"><a href="{% url 'r-div-proj-status-list' div.id pk1 %}">{{ t_notstarted }}</a></div>
							</div>
						</div>
					</div><!--end item-->
				</div>
			</div><!--end col-->
		</div><!--end row-->
	</div><!--end cont-->
</section>
<!-- end Counts Section -->