{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'comp-proj-list' %}">Fila</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>    
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Projetu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Kodigu</th><th>Naran</th><th>Kategoria</th><th>Tinan</th>
                        </tr>
                        <tr>
                            <td>{{ proj.code }}</td>
                            <td>{{ proj.name }}</td>
                            <td>{{ proj.pcategory.code }}/{{ proj.pcat.code }}</td>
                            <td>{{ proj.year }}</td>
                        </tr>
                    </table>      
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Kontratu</div>
                <div class="card-body">
                    {% if cont %}
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Numeru</th><th>Montante</th><th>Tipu</th><th>Periodu</th><th>Tinan</th><th>Status</th>
                        </tr>
                        {% for contyear in contyears %}
                        <tr>
                            <td>{{ contyear.contract.number }}</td>
                            <td>${{ contyear.total|intcomma }}</td>
                            <td>{{ contyear.contract.type.code }}</td>
                            <td>{{ contyear.contract.start_date|date:"d/m/Y" }} - {{ amend.end_date|date:"d/m/Y" }}</td>
                            <td>{{ contyear.year }}</td>
                            <td>{% if contyear.contract.status %}{{ contyear.contract.status }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <hr/>
                    {% endif %}<!--end cont-->
                    
                    {% if cont.is_complete == True %}
                    <div class="alert alert-success p-2">Kontratu Kompletu</div>
                    {% endif %}
                    <hr/>
                    <h5>Compa&ntilde;ia</h5>
                    <table class="table table-sm table-striped">
                        <tr><th>Naran</th><th>Numeru Telemovel</th><th>Enderesu</th><th>Principal</th>
                        </tr>
                        {% for comp  in comps %}
                        <tr>
                            <td>{{ comp.company }}</td>
                            <td>{{ comp.company.phone }}</td>
                            <td>{{ comp.company.address }}</td>
                            <td>{% if comp.is_main == True %}<i class="fa fa-check"></i>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}