{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			{% if page == "req" %}
			<li class="breadcrumb-item"><a href="{% url 'gab-proc-req-det' proc.hashed %}">Fila</a></li>
			{% else %}
			<li class="breadcrumb-item"><a href="{% url 'gab-proc-res-det' proc.hashed %}">Fila</a></li>
			{% endif %}
			<li class="breadcrumb-item active">{{ legend }}</li>
		</ul>
	</div>
</div>
<div class="container-fluid"><br/>
  <div class="row">
		<div class="col-sm-12">
			{% if proj %}
			<div class="card">
			  <div class="card-header">Projetu</div>
			  <div class="card-body">
				<table class="table table-sm table-striped">
				  <tr><th>Kodigu Projetu</th><th>Naran Projetu</th><th>Kategoria</th></tr>
				  <tr><td>{{ proj.code }}</td><td>{{ proj.name }}</td><td>{{ proj.pcategory.code }}</td></tr>
				</table>
			  </div>
			</div>
			{% endif %}
			<div class="card">
				<div class="card-header">{{ legend|upper }}</div>
				<div class="card-body">
					{% crispy form %}
				</div> <!--end card-body-->
			</div> <!--end card-->
		</div> <!--end col-->
	</div> <!--end row-->  
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}