{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">{{ legend }}</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Nu.</th>
                            <th>Numeru Despaxu</th>
                            <th>Data</th>
                            <th>Asuntu</th>
                            <th>Husi</th>
                            <th>Diriji ba</th>
                            <th>Kodigu Projetu</th>
                            <th>Naran Projetu</th>
                        </tr>
                        {% for obj in objects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'eng-ver-det' obj.hashed %}">{{ obj.number }}</a></td>
                            <td>{{ obj.date|date:"d/m/Y" }}</td>
                            <td>{{ obj.subject }}</td>
                            <td>{{ obj.sec }}</td>
                            <td>
                             {% for obj1 in object1 %}
                                {% if obj1.verseceng.id ==  obj.id %}
                                   {{obj1.employee|linebreaks }}
                                 {% endif %}
                            {% endfor %}
                            </td>
                            <td>{{ obj.ver.eval.proj.code }}</td>
                            <td>{{ obj.ver.eval.proj.name }}</td>
                                 
                        </tr>
                        {% endfor %}
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}