{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    {% if objects1 %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">{{ legend }}</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Nu.</th>
                            <th>Numeru Referensia</th>
                            <th>Data Hahu</th>
                            <th>Data Ikus</th>
                            <th>Asuntu</th>
                            <th>Kodigu Projetu</th>
                            <th>Naran Projetu</th>
                        </tr>
                        {% for obj1 in objects1 %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'sec-ver-det' obj1.hashed %}">{{ obj1.number }}</a></td>
                            <td>{{ obj1.start_date|date:"d/m/Y" }}</td>
                            <td>{{ obj1.end_date|date:"d/m/Y" }}</td>
                            <td>{{ obj1.subject }}</td>
                            <td>{{ obj1.eval.proj.code }}</td>
                            <td>{{ obj1.eval.proj.name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
    {% endif %}
    {% if objects2 %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">{{ legend|upper }}</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Nu.</th>
                            <th>Numeru Despaxu</th>
                            <th>Data</th>
                            <th>Asuntu</th>
                            <th>Husi</th>
                            <th>Diriji ba</th>
                            <th>Kodigu Projetu</th>
                            <th>Naran Projetu</th>
                        </tr>
                        {% for obj2 in objects2 %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'sec-ver-det' obj2.ver.hashed %}">{{ obj2.number }}</a></td>
                            <td>{{ obj2.date|date:"d/m/Y" }}</td>
                            <td>{{ obj2.subject }}</td>
                            <td>
                             {% for obj3 in objects3 %}
                                {% if obj3.verseceng.id ==  obj2.id %}
                                   {{obj3.employee|linebreaks }}
                                 {% endif %}
                            {% endfor %}
                            
                            </td>
                            <td>{{ obj2.sec.code }}</td>
                            <td>{{ obj2.ver.eval.proj.code }}</td>
                            <td>{{ obj2.ver.eval.proj.name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
    {% endif %}
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}