{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dgaf-proc-list' %}">Dokumentu</a></li>
      <li class="breadcrumb-item active">{{ legend }}</li>
    </ul>
  </div>
</div>
<header class="py-4">
  <div class="container-fluid py-2">
    <h1 class="h3 fw-normal mb-0">Informasaun Tender Foun</h1>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Detallu Tender</div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <tr><th>Numeru Referensia</th><td>{{ proc.number }}</td></tr>
            <tr><th>Data Kria</th><td>{{ proc.date|date:"d/m/Y" }}</td></tr>
            <tr><th>Data Husi</th><td>{{ proc.user.employeeuser.employee.name }}</td></tr>
            <tr><th colspan="2">Deskrisaun</th></tr>
            <tr><td colspan="2">{{ proc.desc|safe }}</td></tr>
          </table>
        </div>
      </div><!--end card-->
    </div><!--end col-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Detallu Projetu</div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <tr><th>Kodigu Projetu</th><td>{{ proj.code }}</td></tr>
            <tr><th>Naran Projetu</th><td>{{ proj.name }}</td></tr>
            <tr><th>Donu</th><td>{{ proj.owner.code }}</td></tr>
            <tr><th>Tinan</th><td>{{ proj.year }}</td></tr>
          </table>
        </div>
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Rekizasaun Tender</div>
        <div class="card-body">
          {% if trackreq.is_start == True %}
          <div class="alert alert-info p-1 mb-1"> REQUIJASAUN HAHU ONA <i class="fa fa-star"></i></div>
          {% endif %}
          {% if trackreq.is_dna_out == True %}
          <div class="alert alert-secondary p-1 mb-1">DNA BA DGAF <i class="fa fa-check"></i></div>
          {% endif %}
          {% if trackreq.is_dgaf_out_1 == True %}
          <div class="alert alert-secondary p-1 mb-1">DGAF BA GABINETE MINISTRU <i class="fa fa-check"></i></div>
          {% endif %}
          {% if proc.is_req_appr == True %}
          <div class="alert alert-success p-1 mb-1">REQUIJISAUN TENDER APROVADO <i class="fa fa-check"></i></div>
          {% endif %}
          {% if trackreq.is_gab_out == True %}
          <div class="alert alert-secondary p-1 mb-1">GABINETE MINISTRU BA DGAF <i class="fa fa-check"></i></div>
          {% endif %}
          {% if trackreq.is_dgaf_out_2 == True %}
          <div class="alert alert-secondary p-1 mb-1">DGAF BA DNA <i class="fa fa-check"></i></div>
          {% endif %}
          {% if trackreq.is_end == True %}
          <div class="alert alert-info p-1 mb-1">REQUIJASAU TERMINA ONA <i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          {% endif %}
          <a class="btn btn-sm btn-info" href="{% url 'dgaf-proc-req-det' proc.hashed %}">Hare Procesu <i class="fa fa-list"></i></a>
        </div>
      </div><!--end card-->
    </div><!--end col-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Rezultadu Tender</div>
        <div class="card-body">
          {% if proc.is_req_end == True %}
          <table class="table table-sm table-striped">
            <tr><th>Data Hahu</th><td>{{ trackres.date_start|date:"d/m/Y" }}</td></tr>
            <tr><th>Status</th><td>{% if proc.is_res_appr == True %}Aprova{% else %}Seidauk Aprova{% endif %}</td></tr>
          </table>
          <hr/>
          {% endif %}
          {% if trackres.is_dna_out == True %}
          <div class="alert alert-secondary p-1 mb-1">DNA BA DGAF <i class="fa fa-check"></i></div>
          {% endif %}
          {% if trackres.is_dgaf_out_1 == True %}
          <div class="alert alert-secondary p-1 mb-1">DGAF BA GABINETE MINISTRU <i class="fa fa-check"></i></div>
          {% endif %}
          {% if proc.is_res_appr == True %}
          <div class="alert alert-success p-1 mb-1">MINITRO APROVA <i class="fa fa-check"></i></div>
          {% endif %}
          {% if trackres.is_gab_out == True %}
          <div class="alert alert-secondary p-1 mb-1">GABINETE MINISTRU BA DGAF <i class="fa fa-check"></i></div>
          {% endif %}
          {% if trackres.is_dgaf_out_2 == True %}
          <div class="alert alert-secondary p-1 mb-1">DGAF BA DNA <i class="fa fa-check"></i></div>
          {% endif %}
          {% if trackres.is_end == True %}
          <div class="alert alert-success p-2 mb-1">PROSESU TERMINA ONA!</div>
          {% endif %}
          <a class="btn btn-sm btn-info" href="{% url 'dgaf-proc-res-det' proc.hashed %}">Hare Prosesu <i class="fa fa-list"></i></a>
        </div>
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Kompa&ntilde;ia</div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <tr>
              <th>Nu.</th><th>Naran Kompa&ntilde;ia</th><th>Data Submete</th><th>Melhor</th><th>Resultadu</th>
            </tr>
            {% for comp in comps %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ comp.company }}</td>
              <td>{{ comp.submit_date|date:"d-m-Y" }}</td>
              <td>{{ comp.best }}</td>
              <td>{% if comp.is_win == True %}<i class="fa fa-star i_green"></i> Manan Nain{% else %}<i class="fa fa-close i_red"></i>{% endif %}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div><!--end col-->
  </div><!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}