{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'ver-inv-list' %}">Lista Verifikasaun</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<header class="py-4">
  <div class="container-fluid py-2">
    <h1 class="h3 fw-normal mb-0">VERIFIKASAUN</h1>
  </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header"> Detallu Projetu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Kodigu Projetu</th><td>{{ proj.code }}</td></tr>
                        <tr><th>Naran Projetu</th><td>{{ proj.name }}</td></tr>
                        <tr><th>Donu Projetu</th><td>{{ proj.owner.code }}</td></tr>
                        <tr><th>Tinan Projetu</th><td>{{ proj.year }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}