{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow-lg border-info rounded">
                <div class="card-header">{{ legend|upper }}</div>
                <div class="card-body">
                    <table id="example" class="table table-sm responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Numeru</th>
                                <th>Asuntu</th>
                                <th>Verifika Husi Seksaun</th>
                                <th>Data Hahu</th>
                                <th>Data Ikus</th>
                                <th>Kode Projetu</th>
                                <th>Naran Projetu</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in objects %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'sec-ver-det' obj.hashed %}">{{ obj.number }}</a></td>
                                <td>{{ obj.subject }}</td>
                                 <td>{{ obj.sec }}</td>
                                <td>{{ obj.start_date|date:"d/m/Y" }}</td>
                                <td>{{ obj.end_date|date:"d/m/Y" }}</td>
                                <td>{{ obj.eval.proj.code }}</td>
                                <td>{{ obj.eval.proj.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr/>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'sec-ver-list' %}">Jeral</a></li>
                        {% for y in years %}
                        <li class="breadcrumb-item"><a href="{% url 'sec-ver-year' y.start_date__year %}">{{ y.start_date__year }}</a></li>
                        {% endfor %}
                    </ul>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}