{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'let-inv-list' cont.hashed %}">Fila</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Kontratu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Numeru Kontratu</th><td>{{ inv.cont.number }}</td></tr>
                        <tr><th>Montante Kontratu</th><td>{{ inv.cont.total }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Projetu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Kodigu Projetu</th><td>{{ inv.proj.code }}</td></tr>
                        <tr><th>Naran Projetu</th><td>{{ inv.proj.name }}</td></tr>
                    </table>
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Detallu Resibu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Numeru Resibu</th><th>Data Hatama</th><th>Progresu Fiziku</th>
                        </tr>
                        <tr>
                            <td>{{ inv.number }}</td>
                            <td>{{ inv.date|date:"d/m/Y" }}</td>
                            <td>{{ inv.phys_prog }}%</td>
                        </tr>
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">{{ legend|upper }}</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Nu.</th><th>Numeru Referensia</th><th>Asuntu</th><th>Data</th><th>Husi</th><th>Diriji ba</th><th>Aneksu</th>
                        </tr>
                        {% for obj in objects %}
                        <tr>
                            <td rowspan="3">{{ forloop.counter }}</td>
                            <td>{{ obj.number }}</td>
                            <td>{{ obj.date|date:"d/m/Y" }}</td>
                            <td>{{ obj.subject }}</td>
                            <td>
                                {% if obj.is_sup %}{{ obj.mun }}
                                {% elif obj.is_uvip %}UIVP
                                {% elif obj.is_gab %}GABINETE MINISTRU
                                {% elif obj.is_dgaf %}DGAF
                                {% elif obj.is_dna %}DNA
                                {% elif obj.is_dnof %}DNOF{% endif %}
                            </td>
                            <td>{{ obj.to }}</td>
                            <td>
                                {% if obj.file %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'inv-let-pdf' obj.hashed %}" title="PDF File" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr><th colspan="6">Deskrisaun</th></tr>
                        <tr><td colspan="6">{{ obj.desc|safe }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}