{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			{% if page == "cpvreq" %}
			<li class="breadcrumb-item"><a href="{% url 'track-cpvreq-det' cpvreq.hashed %}">Fila</a></li>
		    {% elif page == "cpv" %}
			<li class="breadcrumb-item"><a href="{% url 'track-cpv-det' cpv.hashed %}">Fila</a></li>
		    {% elif page == "proc" %}
			<li class="breadcrumb-item"><a href="{% url 'track-proc-det' proc.hashed %}">Fila</a></li>
		    {% elif page == "inv" %}
			<li class="breadcrumb-item"><a href="{% url 'track-inv-det' inv.hashed %}">Fila</a></li>
		    {% elif page == "ver" %}
			<li class="breadcrumb-item"><a href="{% url 'track-ver-det' ver.hashed %}">Fila</a></li>
		    {% endif %}
			<li class="breadcrumb-item active">{{ legend }}</li>
		</ul>
	</div>
</div>
<div class="container-fluid"><br/>
  <div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">{{ legend|upper }}</div>
				<div class="card-body">
					{% crispy form %}
				</div> <!--end card-body-->
			</div> <!--end card-->
		</div> <!--end col-->
	</div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}