{% extends "main/layout.html" %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">{{ legend|upper }}</div>
                <div class="card-body">
                    <table id="example" class="table table-sm responsive" style="width:100%">
                      <thead>
                        <tr>
                            <th>Nu.</th><th>Numeru Resibu</th><th>Faze</th><th>Progresu</th><th>Kodigu Projetu</th><th>Naran Projetu</th><th>Kompa&ntilde;ia</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for obj in objects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'track-comp-inv-det' obj.0.hashed %}">{{ obj.0.number }}</a></td>
                            <td>{{ obj.1.stages }}</td>
                            <td>{{ obj.1.percent }}%</td>
                            <td>{{ obj.0.cont.project.code }}</td>
                            <td>{{ obj.0.cont.project.name }}</td>
                            <td>{{ obj.3 }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>
{% endblock %}