<div class="main-menu">
    <h5 class="sidenav-heading">Main</h5>
    <ul id="side-main-menu" class="side-menu list-unstyled">                  
      <li><a href="{% url 'home' %}"><i class="icon-home"></i> Painel</a></li>
      <li><a href="{% url 'comp-proj-list' %}"><i class="icon-list"></i> Projetu</a></li>
      <li><a href="{%url 'track-comp-inv-list' %}"><i class="icon-search"></i> Track</a></li>
    </ul>
  </div>
  <div class="admin-menu">
    <h5 class="sidenav-heading">Perfil & Konta</h5>
    <ul id="side-main-menu" class="side-menu list-unstyled">                  
      <li><a href="{% url 'comp-u-det' %}"> <i class="icon-user"></i>Perfil</a></li>
      {% comment %} <li><a href="{% url 'user-account' %}"> <i class="icon-user"></i>Konta</a></li> {% endcomment %}
    </ul>
  </div>