<div class="main-menu">
  <h5 class="sidenav-heading">Main</h5>
  <ul id="side-main-menu" class="side-menu list-unstyled">                  
    <li><a href="{% url 'home' %}"><i class="icon-home"></i> Painel</a></li>
    <li><a href="{% url 'proj-list' %}"><i class="icon-list"></i> Lista Projetu</a></li>
    <li><a href="{% url 'uvip-eval-list' %}"><i class="icon-list"></i> Avaliasaun ToR</a></li>
    <li><a href="#tenderDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i> Lista Tender</a>
      <ul id="tenderDropdown" class="collapse list-unstyled ">
        <li><a href="{% url 'dgaf-proc-list' %}">Lista</a></li>
        <li><a href="{% url 'dgaf-proc-req-list' %}">Rekizasaun</a></li>
        <li><a href="{% url 'dgaf-proc-res-list' %}">Rezultadu</a></li>
      </ul>
    </li>
    <li><a href="{% url 'cont-list' %}"><i class="icon-list"></i> Lista Kontratu</a></li>
    <li><a href="#invDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i> Lista Resibu</a>
      <ul id="invDropdown" class="collapse list-unstyled ">
        <li><a href="{% url 'dgaf-inv-list' %}">Resibu</a></li>
        <li><a href="{% url 'let-cont-list' %}">Kontratu</a></li>
      </ul>
    </li>
    <li><a href="{% url 'insp-inv-list' %}"><i class="icon-list"></i> Inspeksaun</a></li>
    <li><a href="#finDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i> Financas</a>
      <ul id="finDropdown" class="collapse list-unstyled ">
        <li><a href="{% url 'dgaf-cpvreq-list' %}">Rekizaaun CPV</a></li>
        <li><a href="{% url 'dgaf-cpv-list' %}">CPV</a></li>
        <li><a href="{% url 'dgaf-po-proj-list' %}">PO</a></li>
        <li><a href="{% url 'prt-cont-list' %}">PRT & EV</a></li>
      </ul>
    </li>
    <li><a href="#reportDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i> Relatoriu</a>
      <ul id="reportDropdown" class="collapse list-unstyled ">
        <li><a href="{% url 'r-proj-dash' %}">Sumariu</a></li>
        <li><a href="{% url 'r-pay-dash' %}">Pagamentu Jeral</a></li>
        <li><a href="{% url 'r-pay-ann-dash' %}">Pagamentu Anual</a></li>
        <li><a href="{% url 'r-div-list' %}">Diresaun</a></li>
      </ul>
    </li>
    <li><a href="#trackDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-search"></i> Track</a>
      <ul id="trackDropdown" class="collapse list-unstyled ">
       <li><a href="{% url 'track-eval-list' %}">Avaliasaun ToR</a></li>
       <li><a href="{% url 'track-cpvreq-list' %}">Rekizaaun CPV</a></li>
        <li><a href="{% url 'track-proc-list' %}">Tender</a></li>
        <li><a href="{% url 'track-inv-list' %}">Resibu</a></li>
        <li><a href="{% url 'track-cpv-list' %}">CPV</a></li>
        <li><a href="{% url 'track-po-list' %}">PO</a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="admin-menu">
  <h5 class="sidenav-heading">Perfil & Konta</h5>
  <ul id="side-main-menu" class="side-menu list-unstyled">                  
    <li><a href="{% url 'user-profile' %}"> <i class="icon-user"></i>Perfil</a></li>
    {% comment %} <li><a href="{% url 'user-account' %}"> <i class="icon-user"></i>Konta</a></li>
  </ul> {% endcomment %}
</div>