{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'r-div-pay-g-dash' div.id %}">Painel Pagamentu</a></li>
			<li class="breadcrumb-item active">{{ legend }}</li>
		</ul>
	</div>
</div>
<div class="container-fluid"><br/>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header"></div>
				<div class="card-body">
					<center>
						<h5>{{ div|upper }} ({{ div.code }})</h5><hr/>
						<h3>{{ legend|upper }}</h3>
						<h1>{{ subtitle|upper }}</h1>
					</center>
					<hr/>
					<table id="example" class="table table-sm table-bordered responsive" style="width:100%">
						<thead>
							<tr align="center">
								<th rowspan="2">TINAN</th>
								<th colspan="4">TOTAL</th>
								{% for obj in objs %}
								<th colspan="4">{{ obj.code|upper }}</th>
								{% endfor %}
							</tr>
							<tr align="right">
								<th>Proj</th><th>Kont.</th><th>Paga.</th><th>Bal.</th>
								{% for obj in objs %}
								<th>Proj</th><th>Kont.</th><th>Paga.</th><th>Bal.</th>
								{% endfor %}
							</thead>
							<tbody>
								{% for obj in objects %}
								<tr align="right">
									<td><a href="{% url 'r-div-pay-g-cap-sum-year' div.id obj.0.date__year %}">{{ obj.0.date__year }}</a></td>
									<td><a href="{% url 'r-div-pay-year-list' div.id obj.0.date__year page %}">{{ obj.1.0 }}</a></td>
									<td align="right">${{ obj.1.1|intcomma }}</td>
									<td align="right">${{ obj.1.2|intcomma }}</td>
									<td align="right">${{ obj.1.3|intcomma }}</td>
									{% for obj1 in obj.2 %}
									<td align="right">
										{% if not obj1.1 == 0 %}
										<a href="{% url 'r-div-pay-g-cap-sum-year-det' div.id obj.0.date__year obj1.0.id %}">{{ obj1.1 }}</a>
										{% else %}{{ obj1.1 }}{% endif %}
									</td>
									<td align="right">${{ obj1.2|intcomma }}</td>
									<td align="right">${{ obj1.3|intcomma }}</td>
									<td align="right">${{ obj1.4|intcomma }}</td>
									{% endfor %}
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr align="right">
									<th align="center">TOTAL</th>
									<th align="right">{{ totals.0.0 }}</th>
									<th align="right">${{ totals.0.1|intcomma }}</th>
									<th align="right">${{ totals.0.2|intcomma }}</th>
									<th align="right">${{ totals.0.3|intcomma }}</th>
									{% for tot in totals.1 %}
									<th align="center">{{ tot.0 }}</th>
									<th align="center">${{ tot.1|intcomma }}</th>
									<th align="center">${{ tot.2|intcomma }}</th>
									<th align="center">${{ tot.3|intcomma }}</th>
									{% endfor %}
								</tr>
							</tfoot>
						</table>
					</div> <!--end card-body-->
				</div> <!--end card-->
			</div> <!--end col-->
		</div><!--end row-->
	</div><!--end cont-->
	{% endblock %}
	{% block scripts %}
	<link href="{% static 'main/datatables/css/searchBuilder.dataTables.min.css' %}" rel="stylesheet">
	<link href="{% static 'main/datatables/css/searchBuilder.bootstrap4.min.css' %}" rel="stylesheet">
	<link href="{% static 'main/datatables/css/buttons.dataTables.min.css' %}" rel="stylesheet">
	<style type="text/css">
		.dtsb-searchBuilder{
			background: #b9c7e6 !important;
			padding: 5px
		}
		.dt-button, .dtsb-add {
			background: white !important;
		}
		@media print{
			@page {
				size: landscape;
			}
		}
	</style>
	<script src="{% static 'main/datatables/js/dataTables.searchBuilder.min.js' %}"></script>
	<script src="{% static 'main/datatables/js/searchBuilder.bootstrap4.min.js' %}"></script>
	<script src="{% static 'main/datatables/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'main/datatables/js/jszip.min.js' %}"></script>
	<script src="{% static 'main/datatables/js/pdfmake.min.js' %}"></script>
	<script src="{% static 'main/datatables/js/vfs_fonts.js' %}"></script>
	<script src="{% static 'main/datatables/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'main/datatables/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'main/datatables/js/buttons.colVis.min.js' %}"></script>
	
	<script src="{% static 'main/js/datatables.js' %}"></script>
	<script>
		$(document).ready( function () {
			var table = $('#example').removeAttr('width').DataTable( {
				"scrollY": "50vh",
				"scrollX": true,
				"scrollCollapse": true,
				"paging": true,
				searchBuilder: true,
				buttons:[
				{
					extend: 'excelHtml5', autoFilter: true, sheetName: 'Exported data'
				},
				{
					extend: 'print',
					exportOptions: { columns: ':visible' },
					title: '<img src="http://localhost:8000/static/main/images/logo.png" style="width:120;" /><hr/>\
					<center><h4>{{ legend|upper }}</h4></center>',
					customize: function(win)
					{                    
						var last = null;
						var current = null;
						var bod = [];                    
						var css = '@page { size: landscape; }',
						head = win.document.head || win.document.getElementsByTagName('head')[0],
						style = win.document.createElement('style');
						style.type = 'text/css';
						style.media = 'print';                    
						if (style.styleSheet)
						{
							style.styleSheet.cssText = css;
						}
						else
						{
							style.appendChild(win.document.createTextNode(css));
						}                    
						head.appendChild(style);
					}
				},
				'colvis',
				],
				dom: 'Bfrtip',
				"deferRender": true
			});
			table.searchBuilder.container().prependTo(table.table().container());
		} );
	</script>
	{% endblock %}