{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<div class="container-fluid"><br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">CPV Fila</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Nu.</th>
                            <th>Numeru CPV</th>
                            <th>Montante</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th>Kodigu Projetu</th>
                            <th>Naran Projetu</th>
                        </tr>
                        {% for obj1 in objects1 %}
                        <tr>
                            <td rowspan="3">{{ forloop.counter }}</td>
                            <td><a href="{% url 'dnof-cpv-det' obj1.proj.hashed %}">{{ obj1.number }}</a></td>
                            <td>${{ obj1.amount|intcomma }}</td>
                            <td>{{ obj1.date|date:"d/m/Y" }}</td>
                            <td>{% if obj1.is_appr == True %}DGAF Aprova{% else %}Prosesa hela{% endif %}</td>
                            <td>{{ obj1.proj.code }}</td>
                             <td>{{ obj1.proj.name }}</td>
                        </tr>
                        <tr><td colspan="6">Komentariu Fila</td></tr>
                        <tr><td colspan="6">{{ obj1.comment|safe }}</td></tr>
                        {% endfor %}
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
    
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Despaxu CPV</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Nu.</th>
                            <th>Numeru Despaxu</th>
                            <th>Titulu</th>
                            <th>Data</th>
                            <th>Kodigu Projetu</th>
                        </tr>
                        {% for obj2 in objects2 %}
                        <tr>
                            <td rowspan="3">{{ forloop.counter }}</td>
                            <td><a href="{% url 'dnof-cpv-let-det' obj2.hashed %}">{{ obj2.number }}</a></td>
                            <td>{{ obj2.subject }}</td>
                            <td>{{ obj2.date|date:"d/m/Y" }}</td>
                            <td>{{ obj2.cpv.proj.code }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
{% endblock %}