{% extends "main/layout.html" %}
{% load humanize %}
{% block content %}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'fiscal-pay-cont-list' %}">Lista Kontratu Fiskal</a></li>
            <li class="breadcrumb-item active">{{ legend }}</li>
        </ul>
    </div>
</div>
<header class="py-4">
  <div class="container-fluid py-2">
    <h1 class="h3 fw-normal mb-0">Pagamentu Fiskal</h1>
  </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Kontratu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Kodigu Kontratu</th><td>{{ cont.number }}</td>
                        <tr>
                            <th>Periodu Kontratu</th>
                            <td>{{ cont.start_date|date:"d/m/Y" }} - {{ cont.end_date|date:"d/m/Y" }}</td>
                        </tr>
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Detallu Projetu</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr><th>Kodigu Projetu</th><td>{{ cont.project.code }}</td></tr>
                        <tr><th>Naran Projetu</th><td>{{ cont.project.name }}</td></tr>
                        <tr><th>Tinan Projetu</th><td>{{ cont.project.year }}</td></tr>
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Tinan Fiskal</div>
                <div class="card-body">
                    <a class="btn btn-sm btn-info mb-1" href="{% url 'fiscal-pay-all' cont.hashed %}">Lista Pagamentu Jeral <i class="fa fa-list"></i></a>
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Nu.</th>
                            <th>Tinan</th>
                            <th>Comulativu (USD)</th>
                            <th>Comulativu (%)</th>
                            <th>Balansu (USD)</th>
                            <th>Balansu (%)</th>
                             {% if group != 'uvip' %}
                            <th>#</th>
                            {% endif %}
                        </tr>
                        {% for obj in objects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.0 }} {% if obj.1.is_active == True %}<i class="fa fa-check"></i>{% endif %}</td>
                            <td>${{ obj.1.com_amount|intcomma }}</td>
                            <td>{{ obj.1.com_percent }}%</td>
                            <td>${{ obj.1.bal_amount|intcomma }}</td>
                            <td>{{ obj.1.bal_percent }}%</td>
                            {% if group != 'uvip' %}
                            <td>
                                {% if obj.1 %}
                                {% if obj.1.is_active == False %}
                                <a class="btn btn-sm btn-primary" href="{% url 'pay-fiscal-ena' cont.hashed obj.1.id %}">Ativa <i class="fa fa-check"></i></a>
                                {% endif %}
                                {% endif %}
                                <a class="btn btn-sm btn-info" href="{% url 'fiscal-pay-list' cont.hashed obj.0 %}">Hare Pagamentu <i class="fa fa-list"></i></a>
                            </td>
                             {% endif %}

                        </tr>
                        {% endfor %}
                    </table>
                </div> <!--end card-body-->
            </div> <!--end card-->
        </div> <!--end col-->
    </div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}