{% extends "main/layout.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
		    <li class="breadcrumb-item"><a href="{% url 'dna-pay-inv-det' hashid=hashid %}">Detallu Resibu</a></li>
			<li class="breadcrumb-item active">{{ legend }}</li>
		</ul>
	</div>
</div>
<div class="container-fluid"><br/>
  <div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">{{ legend|upper }}</div>
				<div class="card-body">
					<table class="table table-sm table-striped">
						<tr>
						  <th>Numeru Sertifikadu Pagamentu</th><th>Data</th><th>Progresu Fiziku</th><th>Montante Pagamentu</th>
						</tr>
						<tr>
						  <td>{{ cert.number }}</td>
						  <td>{{ cert.date|date:"d/m/Y" }}</td>
						  <td>{{ cert.phys_prog }}%</td>
						  <td>${{ cert.total|intcomma }}</td>
						</tr>
					  </table>
					<hr/>
					{% crispy form %}
				</div> <!--end card-body-->
			</div> <!--end card-->
		</div> <!--end col-->
	</div> <!--end row-->
</div><!--end cont-->
{% endblock %}
{% block scripts %}
<style>
	#id_invoice { width: 100%; }
</style>
<script>
	$(document).ready(function() {
    $('#id_invoice').select2();
});
</script>
{% endblock %}